
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    color: white;
}
a, li, ol{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;

}
img {width: 100%;}
.wrap {
    width:100%;max-width: 1000px;margin:0 auto;
    background-color: gainsboro;
}


#element-selector {
    margin-bottom: 20px;
}

#custom-size-section {
    display: none;
    margin-top: 20px;
}

#print-section {
    display: none;
    margin-top: 20px;
}


.button-3 {
    padding: 1rem;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
/*inputs*/
input[type=number],select,input[type=text],textarea{
    padding: 1rem;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #FFFFFF;
    background: rgba(255, 255, 255, 0.45);
    border-radius: .2em .2em 0 0;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    width: 25%;
    margin-bottom: 1rem;
}
input[type=submit]{
    width: 28%;
}
.button-4{
    padding: 1rem;
    appearance: none;
    background-color: red;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(74, 60, 161);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    font-size: 18px;

}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
.boite{
    background-color: rgba(255, 255, 255, 0.24);
    width: 300px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transition: all 0.3s ease;

}
.boite .click a{
    color: rgb(74, 60, 161);
}
.boite .click a:hover{
    color: rgba(0, 0, 0, 0.65);
}
.boite:hover{
    background-color: rgba(255, 255, 255, 0.24);
    width: 320px; /* Adjust the expanded width */
    height: 320px; /* Adjust the expanded height */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;

}
.boite .icon i{
    font-size: 50px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.je_suis_titre{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.box-container{
    padding: 4rem;
    text-align: -webkit-center;
}
.icon,.description,.click{
    padding: 1rem;
}
.mon_formilaire form div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
input::placeholder {
    color: #FFFFFF; /* Set the color of the placeholder text */
    font-style: normal; /* Set the font style of the placeholder text */
}

/*page examplaire*/
 .box-cover{
    text-align: center;
}
.my-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*checkbox*/
